@let pokemons = pokemons$ | async; 
<section>
  <h1 nz-typography>Pokemons</h1>
  <nz-list nzGrid>
    <div nz-row [nzGutter]="16">
        @for (pokemon of pokemons; track pokemon.id) {
        <div nz-col [nzXXl]="4" [nzXl]="4" [nzLg]="6" [nzMd]="6" [nzSm]="12" [nzXs]="24">
          <nz-list-item>
            <a [routerLink]="['/',pokemon.id]">
                <nz-card nzHoverable [nzBodyStyle]="{textAlign: 'center'}" [nzTitle]="pokemon.name">
                    <img nz-image nzDisablePreview [nzSrc]="pokemon.imageUrl || fallbackImg" [alt]="pokemon.name" width="96px" height="96px" [nzFallback]="fallbackImg" />
                </nz-card>
            </a>
          </nz-list-item>
        </div>
      } @empty {
        <nz-result class="center" nzIcon="exclamation-circle-twotone" nzTitle="No Pokemons" nzSubTitle="There are no Pokemons! Refresh the page to fetch some!">
          <div nz-result-extra>
            <button nz-button nzType="primary" nzSize="large" (click)="onRefresh()">Refresh</button>
          </div>
        </nz-result>
    }
    </div>
  </nz-list>

</section>

  