@let pokemon = pokemon$ | async;

@if(pokemon && form) {
    <article>
        <h1>{{ pokemon.name }}</h1>
        <img [src]="pokemon.imageUrl" [alt]="pokemon.name">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div>
                <label for="name">Name:</label>
                <input id="name" formControlName="name" />
                <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
                  Name is required.
                </div>
              </div>
              <div>
                <label for="imageUrl">Image url:</label>
                <input id="imageUrl" formControlName="imageUrl" />
                <div *ngIf="form.get('imageUrl')?.invalid && form.get('imageUrl')?.touched">
                    Image url is required.
                </div>
              </div>
            <div>
              <label for="height">Height:</label>
              <input id="height" formControlName="height" type="number" />
              
              <div *ngIf="form.get('height')?.invalid && form.get('height')?.touched">
                <div *ngIf="form.get('height')?.errors?.['required']">Height is required.</div>
                <div *ngIf="form.get('height')?.errors?.['pattern']">
                    Height should be a number.
                </div>
              </div>
            </div>
          
            <div>
              <label for="weight">Weight:</label>
              <input id="weight" formControlName="weight" type="number" />
              <div *ngIf="form.get('weight')?.invalid && form.get('weight')?.touched">
                <div *ngIf="form.get('weight')?.errors?.['required']">Weight is required.</div>
                <div *ngIf="form.get('weight')?.errors?.['pattern']">
                    Weight should be a number.
                </div>
              </div>
            </div>
            <div>
                <h2>Abilities</h2>
                <div formArrayName="abilities">
                    <div *ngFor="let ability of abilities.controls; let i = index">
                    <input [formControlName]="i" placeholder="Ability {{ i + 1 }}" />
                    <button type="button" (click)="removeAbility(i)">Remove</button>
                    </div>
                </div>
                <button type="button" (click)="addAbility()">Add Ability</button>
            </div>
            <div>
                <h2>Moves</h2>
                <div formArrayName="moves">
                    <div *ngFor="let move of moves.controls; let i = index">
                    <input [formControlName]="i" placeholder="Move {{ i + 1 }}" />
                    <button type="button" (click)="removeMove(i)">Remove</button>
                    </div>
                </div>
                <button type="button" (click)="addMove()">Add Move</button>
            </div>
            <button type="submit" [disabled]="form.invalid">Update</button>
          </form>
    </article>
}