@let pokemon = pokemon$ | async;

@if(pokemon) {
    <nz-page-header (nzBack)="onBack()" nzBackIcon nzTitle="{{ pokemon.name | titlecase  }}">
        <nz-page-header-extra>
            <button nz-button nzType="primary" [routerLink]="['edit']">
                <nz-icon nzType="edit" /> Edit
            </button>
        </nz-page-header-extra>
    </nz-page-header>
    <section>
        <div nz-flex nzJustify="center" nzAlign="center" nzGap="2rem">
            <img nz-image nzDisablePreview [nzSrc]="pokemon.imageUrl || fallbackImg" [alt]="pokemon.name" width="96px" height="96px" [nzFallback]="fallbackImg" />
            <ul>
                <li>Height: <strong>{{ pokemon.height }}</strong></li>
                <li>Weight: <strong>{{ pokemon.weight }}</strong></li>
            </ul>
        </div>
        <nz-divider nzPlain nzVariant="solid"></nz-divider>
        <h4 nz-typography>Abilities</h4>
        @if(pokemon.abilities && pokemon.abilities.length > 0) {
            <ol class="colum-list">
                @for (ability of pokemon.abilities; track ability) {
                    <li>{{ability}}</li>
                }
            </ol>
        } @else {
            <p>{{ pokemon.name | titlecase }} has no abilities :(</p>
        }
        <h4 nz-typography>Moves</h4>
        @if(pokemon.moves && pokemon.moves.length > 0) {
            <ol class="colum-list">
                @for (move of pokemon.moves; track move) {
                    <li>{{move}}</li>
                }
            </ol>
        } @else {
            <p>{{ pokemon.name | titlecase }} does know any moves :(</p>
        }
    </section>
}