/* You can add global styles to this file, and also import other style files */
// -------- import official less file -----------
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";

// -------- override less variables -----------
@primary-color: #2e905a;

section {
    padding: @padding-lg;
}
.center-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.min-h-screen {
    min-height: 100vh;
}
.mx-auto {
    margin-inline: auto;
}
.p-0 {
    padding: 0;
}
.ant-page-header {
    position: sticky;
    top: 0;
    background-color: @body-background;
    box-shadow: 0 2px 10px @shadow-color;
    z-index: 1000;
}
